<html>
<head>
  <title>Meditation App</title>
</head>
<body>



    <div id="header-box">

      <div id="streak-container" class="header-card">
        <h2>streak</h2>
        <div>
          <span id= "streak-number" class="header-stats">
            0
          </span>
        </div>
      </div>

      <div id="total-container" class="header-card">
        <h2>total</h2>
        <div>
          <span id= "streak-number" class="header-stats">
            0
          </span>
        </div>
      </div>
      <div class="clear"/>

    </div>



    <div id="button-box">

      <div id="mediate-button" class="option-button">
        <h1>meditate</h1>
      </div>

      <div id="setting-button" class="option-button">
        <h1>settings</h1>
      </div>
    </div>



  </body>
</html>