// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  margin: 0;
  padding: 0;
  font-family: "Courier New";
  font-size: 50px;
  color: white;
}

h2 {
  margin: 0;
  padding: 0;
  font-family: "Courier New";
  font-size: 20px;
}

h3 {
  margin:0;
  padding: 0;
  font-family: "Courier New";
  font-size: 40px
}

.header-card{
  width: 150px;
  height: 100px;
  border: 1px solid black;
  text-align: center;

}

#streak-container{
  float: left;
}

#total-container{
  float: right;
}

.header-stats{
  font-family: "Courier New";
  font-size: 40px
}

.button-box{
  width: 100%;
  min-width: 600px;
}

.option-button{
  margin: auto;
  position: relative;
  left:0;
  right:0;

  background-color: lightblue;
  border: 2px solid white;
  border-style: dashed solid;

}

.clear{
  clear: both;
}